.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 1000;
}

span {
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 20px;
}

.header__logo {
  width: auto;
  height: auto;
  max-height: 2rem;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
  margin: 0 10px;
}

.header__searchIcon {
  background-color: white;
  height: 22px !important;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.header__searchInput {
  width: 100%;
  outline: none;
}

.header__option {
  padding: 10px;
}

.header__wrapper {
  display: flex;
}

.header__otpionLineOne {
  font-size: 9px;
}

.header__otpionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.nav__menu {
  display: flex;
  align-items: center;
}

#hidden {
  display: flex;
}

.nav__menu > button {
  display: none;
}

.menu__icon {
  width: 40px;
  max-height: 100%;
  cursor: pointer;
  color: white;
  background-color: black;
}

@media screen and (max-width: 800px) {
  .header__search {
    width: 100%;
  }

  .header__logo {
    margin: 0 10px;
  }

  .header__nav {
    flex-direction: column;
  }

  .header__option {
    width: 100%;
    padding: 0;
  }

  .header__optionBasket {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .nav__menu > button {
    display: flex;
  }

  .nav__menu ul {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .header__wrapper .header__otpionLineOne {
    margin: 5px;
  }

  #hidden {
    position: absolute;
    right: 0;
    top: 60px;
    height: 100px;
    width: 100%;
    background-color: #3c3c3c;
    flex-direction: column;
    opacity: 0.9;
    transition: 0.5s ease-in;
  }

  .header__searchIcon {
    margin-right: 5px;
  }
}
