.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 1;
}

span {
  cursor: pointer;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 20px;
}

.header__logo {
  width: 2rem;
  object-fit: contain;
  cursor: pointer;
  margin: 0 10px;
}

.header__searchIcon {
  background-color: #cd9042;
  height: 22px !important;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.header__searchInput {
  width: 100%;
  outline: none;
}

.header__option {
  padding: 10px;
}

.header__otpionLineOne {
  font-size: 9px;
}

.header__otpionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
